/* Color pallete used: https://www.schemecolor.com/dark-wood-gradient.php */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Var declaration */
:root{
    --brown: #705548;
    --browner: #675045;
    --brownest: #5F4B43;
    --brownester: #564540;
    --brownestertest: #4E403E;
    --brownestertestter: #453B3B;
    --glossyblack: #252324;
    
}
/* Global */
body{
    background: var(--brown);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Start of header css */
header{
    height: auto;
    width: 100vw;
    background: var(--brownestertest);
    padding: 20px;
    max-width: 100%;
}
.play-title{
    user-select: none;
}
.biwan-button{
    background: var(--brownestertestter);
    padding: 9px 25px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: all .3s ease;
}
.biwan-button:hover{
    color: var(--glossyblack);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-list{
    list-style: none;
}
.nav-bar-list li button{
    transition: all .3s ease;
    text-decoration: underline;
    color: black;
}
.nav-bar-list li button:hover{
    color: var(--glossyblack);
}
.button{
    border: none;
    background: none;
    padding: 0;
    font-size: 20px;
}
/* End of header CSS */

/* Start of main CSS */
main{
    height: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 25vw;
    padding: 50px;
    background: var(--browner);
}
.time, .current-to-do, .to-do-list{
    height: auto;
    width: 100%;
    background: var(--brownest);
    text-align: center;
    margin: 5px;
    padding: 15px;
}
.time h2, .current-to-do h2 , .to-do-list h2{
    text-decoration: underline;
}
.todo-list{
    list-style: none;
    overflow: auto;
    max-height: 25vw;
    margin: 0.5rem;
}
.todo-item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    text-align: left;
    padding: 0.5rem;
    border: .1px solid rgb(231, 223, 223);
    transition: all .3s ease;
}
.todo-item-wrapper li{
    flex: 1;
}
.todo-item-wrapper svg{
    pointer-events: none;
}
.to-do-item{
    overflow-x: auto;
}
.complete-btn,
.delete-btn{
    background: orange;
    color: white;
    border: none;
    padding: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
.complete-btn{
    background: rgb(33, 148, 33);
}
.complete-btn:hover{
    background: rgb(47, 172, 47)
}
.delete-btn{
    background:  rgb(216, 146, 16);
}
.delete-btn:hover{
    background:  rgb(218, 156, 41);
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.goodbye{
    opacity: 0;
}
.modal-container{
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
}
.modal{
    background: white;
    height: auto;
    width: 50vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1% 5%;
}
.show{
    display: flex;
    overflow: hidden;
}
/* End of main CSS */

/* Start of footer CSS */
footer{
    height: auto;
    width: 100vw;
    max-width: 100%;
}
.upper-footer{
    background: var(--brownestertest);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}
.upper-footer h2{
    text-decoration: underline;
}
.socials{
    list-style: none;
}
.socials li{
    display: inline-block;
    padding: 10px 3px;
}
.socials li a{
    color: black;
    transition: all .3s ease;
}
.socials li a:hover{
    color: var(--glossyblack);
}
.lower-footer{
    background: var(--brownestertestter);
    text-align: center;
    padding: 5px 0px;
    font-size: 15px;
}
/* End of footer CSS */